body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: LawnGreen;
    overflow: hidden;
    pointer-events: auto;
    user-select: auto;
}

a, a:visited {
    color: inherit;
    position: relative; z-index: 1;
}

#terminal {
    height: 100%;
    padding: 10px;
    cursor: text;
    overflow-y: auto; /* Enable vertical scrolling */
}

#terminal:focus {
    outline: none;
}

.input-line {
    white-space: pre-wrap;
    min-height: 20px;
    background-color: black;
    color: LawnGreen;
    border: none;
    outline: none;
    white-space: pre-wrap; /* Allows line breaks */
}

.output {
    color: Aquamarine;
}

/* Style for the text editor (textarea) */
textarea {
    color: gold;      /* Text color in the editor */
    background-color: black;  /* Background color of the editor */
    border: 2px solid LawnGreen;  /* Green border for the editor */
}

/* Style for the save button */
button {
    color: black;          /* Text color inside the button */
    background-color: LawnGreen; /* Background color of the button */
    border: 2px solid LawnGreen; /* Border color of the button */
}
